<p style="color:green;"><%= notice %></p>
<h1>This is a homepage!</h1>


<% if current_user && current_user.profile_image.attached? %>
  <%= image_tag current_user.profile_image,class:'profile-img' %>
<% end %>

<style>
  .profile-img {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
</style>
